#*
*#
*.swp
*~
.blobs
.bundle
.cache
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.gitreview
.idea
blobs
config/dev.yml
config/private.yml
dev_releases
output
releases/*.tgz
src_alt
**/.DS_Store
releases/**/*.tgz
.DS_Store
bosh-lite/deployments/*
bosh-lite/tmp/*
pkg
consul-certs/
