[submodule "src/github.com/cloudfoundry/gorouter"]
	path = src/github.com/cloudfoundry/gorouter
	url = https://github.com/cloudfoundry/gorouter
[submodule "src/cloud_controller_ng"]
  path = src/cloud_controller_ng
  url = https://github.com/cloudfoundry/cloud_controller_ng.git
[submodule "src/collector"]
  path = src/collector
  url = https://github.com/cloudfoundry/collector.git
[submodule "src/gnatsd"]
	path = src/gnatsd
	url = https://github.com/apcera/gnatsd.git
[submodule "src/loggregator"]
	path = src/loggregator
	url = https://github.com/cloudfoundry/loggregator
[submodule "src/smoke-tests"]
	path = src/smoke-tests
	url = https://github.com/cloudfoundry/cf-smoke-tests
[submodule "src/etcd-release"]
	path = src/etcd-release
	url = https://github.com/cloudfoundry-incubator/etcd-release.git
[submodule "src/statsd-injector"]
	path = src/statsd-injector
	url = https://github.com/cloudfoundry/statsd-injector.git
[submodule "src/github.com/cloudfoundry/cf-acceptance-tests"]
	path = src/github.com/cloudfoundry/cf-acceptance-tests
	url = https://github.com/cloudfoundry/cf-acceptance-tests
[submodule "src/consul-release"]
	path = src/consul-release
	url = https://github.com/cloudfoundry-incubator/consul-release.git
[submodule "src/cf-routing-release"]
	path = src/cf-routing-release
	url = https://github.com/cloudfoundry-incubator/cf-routing-release.git
[submodule "src/uaa-release"]
	path = src/uaa-release
	url = https://github.com/cloudfoundry/uaa-release
[submodule "src/github.com/cloudfoundry-incubator/route-registrar"]
	path = src/github.com/cloudfoundry-incubator/route-registrar
	url = https://github.com/cloudfoundry-incubator/route-registrar
[submodule "src/dea-hm-workspace"]
	path = src/dea-hm-workspace
	url = https://github.com/cloudfoundry/dea-hm-workspace
[submodule "src/buildpacks"]
	path = src/buildpacks
	url = https://github.com/cloudfoundry/buildpack-releases
