#*
*#
**/.DS_Store
*.swp
*~
.DS_Store
.blobs
.bundle
.cache
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.gitreview
.idea
blobs
blobstore-certs/
bosh-lite/deployments/*
bosh-lite/tmp/*
cf-diego-certs/
loggregator-certs/
statsd-injector-certs/
config/dev.yml
config/private.yml
consul-certs/
dev_releases
output
pkg
releases/**/*.tgz
releases/*.tgz
src_alt
uaa-certs/
etcd-certs/
