#*
*#
*.swp
*~
.blobs
.bundle
.cache
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.gitreview
.idea
/Gemfile.lock
blobs
config/dev.yml
config/private.yml
dev_releases
releases/*.tgz
src_alt
