[submodule "src/collector"]
  path = src/collector
  url = https://github.com/cloudfoundry/collector.git
[submodule "src/loggregator"]
	path = src/loggregator
	url = https://github.com/cloudfoundry/loggregator
[submodule "src/smoke-tests"]
	path = src/smoke-tests
	url = https://github.com/cloudfoundry/cf-smoke-tests
[submodule "src/etcd-release"]
	path = src/etcd-release
	url = https://github.com/cloudfoundry-incubator/etcd-release.git
[submodule "src/github.com/cloudfoundry/cf-acceptance-tests"]
	path = src/github.com/cloudfoundry/cf-acceptance-tests
	url = https://github.com/cloudfoundry/cf-acceptance-tests
[submodule "src/consul-release"]
	path = src/consul-release
	url = https://github.com/cloudfoundry-incubator/consul-release.git
[submodule "src/uaa-release"]
	path = src/uaa-release
	url = https://github.com/cloudfoundry/uaa-release
[submodule "src/capi-release"]
	path = src/capi-release
	url = https://github.com/cloudfoundry/capi-release
[submodule "src/nats-release"]
	path = src/nats-release
	url = https://github.com/cloudfoundry/nats-release
[submodule "src/routing-release"]
	path = src/routing-release
	url = https://github.com/cloudfoundry-incubator/routing-release
[submodule "src/postgres-release"]
	path = src/postgres-release
	url = https://github.com/cloudfoundry/postgres-release.git
[submodule "src/staticfile-buildpack-release"]
	path = src/staticfile-buildpack-release
	url = https://github.com/cloudfoundry/staticfile-buildpack-release
[submodule "src/go-buildpack-release"]
	path = src/go-buildpack-release
	url = https://github.com/cloudfoundry/go-buildpack-release
[submodule "src/ruby-buildpack-release"]
	path = src/ruby-buildpack-release
	url = https://github.com/cloudfoundry/ruby-buildpack-release
[submodule "src/python-buildpack-release"]
	path = src/python-buildpack-release
	url = https://github.com/cloudfoundry/python-buildpack-release
[submodule "src/php-buildpack-release"]
	path = src/php-buildpack-release
	url = https://github.com/cloudfoundry/php-buildpack-release
[submodule "src/nodejs-buildpack-release"]
	path = src/nodejs-buildpack-release
	url = https://github.com/cloudfoundry/nodejs-buildpack-release
[submodule "src/binary-buildpack-release"]
	path = src/binary-buildpack-release
	url = https://github.com/cloudfoundry/binary-buildpack-release
[submodule "src/java-buildpack-release"]
	path = src/java-buildpack-release
	url = https://github.com/cloudfoundry/java-buildpack-release
[submodule "src/dotnet-core-buildpack-release"]
	path = src/dotnet-core-buildpack-release
	url = https://github.com/cloudfoundry/dotnet-core-buildpack-release
[submodule "src/statsd-injector-release"]
	path = src/statsd-injector-release
	url = https://github.com/cloudfoundry/statsd-injector-release
[submodule "src/scalable-syslog-release"]
	path = src/scalable-syslog-release
	url = https://github.com/cloudfoundry/scalable-syslog-release.git
