[project]
	description = Cloud Foundry release
[receive]
	requireChangeId = true
[access "refs/heads/*"]
	owner = group Administrators
	label-Code-Review = -2..+2 group Platforms Team
	label-Code-Review = -2..+2 group SRE Team
	label-Code-Review = -2..+2 group Services Committers
	create = group Platforms Team
	pushTag = group Platforms Team
	pushMerge = group Platforms Team
	push = group Framework_Team
	push = group Platforms Team
	push = group SRE Team
	forgeAuthor = group Administrators
	forgeAuthor = group Framework_Team
	forgeAuthor = group Platforms Team
	forgeAuthor = group SRE Team
	forgeCommitter = group Administrators
	forgeCommitter = group Services Committers
[access "refs/tags/*"]
	pushTag = +force group Platforms Team
	create = group Framework_Team
	create = group Platforms Team
	create = group SRE Team
	push = group Framework_Team
	push = +force group Platforms Team
	push = +force group SRE Team
[submit]
	mergeContent = true
