[project]
	description = Cloud Foundry release
[receive]
	requireChangeId = true
[access "refs/heads/*"]
	owner = group Administrators
	label-Code-Review = -2..+2 group Platforms Team
	label-Code-Review = -2..+2 group Services Committers
	create = group Platforms Team
	pushTag = group Platforms Team
	pushMerge = group Platforms Team
	push = group Platforms Team
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
[access "refs/tags/*"]
	pushTag = +force group Platforms Team
	create = group Platforms Team
	push = +force group Platforms Team
[submit]
	mergeContent = true
