[submodule "src/github.com/cloudfoundry/hm9000"]
	path = src/github.com/cloudfoundry/hm9000
	url = https://github.com/cloudfoundry/hm9000.git
[submodule "src/github.com/cloudfoundry/yagnats"]
	path = src/github.com/cloudfoundry/yagnats
	url = https://github.com/cloudfoundry/yagnats.git
[submodule "src/github.com/codegangsta/cli"]
	path = src/github.com/codegangsta/cli
	url = https://github.com/codegangsta/cli.git
[submodule "src/github.com/coreos/go-etcd"]
	path = src/github.com/coreos/go-etcd
	url = https://github.com/coreos/go-etcd.git
[submodule "src/github.com/nu7hatch/gouuid"]
	path = src/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid.git
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo.git
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega.git
[submodule "src/github.com/cloudfoundry/gosteno"]
	path = src/github.com/cloudfoundry/gosteno
	url = https://github.com/cloudfoundry/gosteno
[submodule "src/github.com/cloudfoundry/storeadapter"]
	path = src/github.com/cloudfoundry/storeadapter
	url = https://github.com/cloudfoundry/storeadapter
[submodule "src/github.com/cloudfoundry/gunk"]
	path = src/github.com/cloudfoundry/gunk
	url = https://github.com/cloudfoundry/gunk
[submodule "src/github.com/bmizerany/pat"]
	path = src/github.com/bmizerany/pat
	url = https://github.com/bmizerany/pat.git
[submodule "src/github.com/goji/httpauth"]
	path = src/github.com/goji/httpauth
	url = https://github.com/goji/httpauth.git
[submodule "src/github.com/tedsuo/rata"]
	path = src/github.com/tedsuo/rata
	url = https://github.com/tedsuo/rata.git
[submodule "src/github.com/tedsuo/ifrit"]
	path = src/github.com/tedsuo/ifrit
	url = https://github.com/tedsuo/ifrit.git
[submodule "src/github.com/pivotal-golang/lager"]
	path = src/github.com/pivotal-golang/lager
	url = https://github.com/pivotal-golang/lager.git
[submodule "src/github.com/pivotal-golang/localip"]
	path = src/github.com/pivotal-golang/localip
	url = https://github.com/pivotal-golang/localip.git
[submodule "src/github.com/cloudfoundry-incubator/cf-debug-server"]
	path = src/github.com/cloudfoundry-incubator/cf-debug-server
	url = https://github.com/cloudfoundry-incubator/cf-debug-server.git
[submodule "src/github.com/nats-io/nats"]
	path = src/github.com/nats-io/nats
	url = https://github.com/nats-io/nats.git
[submodule "src/github.com/ugorji/go"]
	path = src/github.com/ugorji/go
	url = https://github.com/ugorji/go.git
[submodule "src/github.com/pivotal-golang/clock"]
	path = src/github.com/pivotal-golang/clock
	url = https://github.com/pivotal-golang/clock.git
[submodule "src/github.com/golang/snappy"]
	path = src/github.com/golang/snappy
	url = https://github.com/golang/snappy
[submodule "src/github.com/golang/net"]
	path = src/github.com/golang/net
	url = https://github.com/golang/net
[submodule "src/github.com/golang/tools"]
	path = src/github.com/golang/tools
	url = https://github.com/golang/tools
[submodule "src/github.com/golang/protobuf"]
	path = src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "src/github.com/gogo/protobuf"]
	path = src/github.com/gogo/protobuf
	url = https://github.com/gogo/protobuf
[submodule "src/dea_next"]
	path = src/dea_next
	url = https://github.com/cloudfoundry/dea_ng.git
[submodule "src/warden"]
	path = src/warden
	url = https://github.com/cloudfoundry/warden.git
