        [
                {kernel,
                        [{inet_dist_listen_min, 57000},
                         {inet_dist_listen_max, 64000}
                        ]
                },
                {rabbit,
                        [{vm_memory_high_watermark, 0.2}]
                }
        ].
